* {
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

header div {
    background-image: url('city-future.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 40vw;
}

.title {
    background-image: none;
    background-color: rgba(10,10,10,0.5);
    position: relative;
    top: 40%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p {
    font-size: 3.5rem;
    color: white;
    opacity: 100%;
}

.main { 
    height: 100vh;
    width: 60vw;
}

.text-container {
    height: 34vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px;
    background-color: #e0e0e0;
}

.text-container p {
    margin: 0px 20px;
    padding: 10px;
    font-size: 0.9rem;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
}

.text-container p span {
    font-style: italic;
}

.form {
    height: 60vh;
}

.main-form {
    height: 35vh;
    padding: 40px 15px;
    display: flex;
    flex-wrap: wrap;
}

.main-form p {
    margin-left: 10px;
    flex-basis: 100%;
    width: fit-content;
}

.main-form div {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
}

label {
    padding: 0px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.form-footer{
    height: 31vh;
    background-color: #e0e0e0;
}

