* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

body {
    display: flex;
}

header div {
    background-image: url('city-future.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 40vw;
}

.title {
    background-image: none;
    background-color: rgba(10,10,10,0.5);
    position: relative;
    top: 40%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p {
    font-size: 3.5rem;
    color: white;
    opacity: 100%;

}



.main { 
    border: 1px solid green;
    height: 100vh;
    width: 60vw;
}

.text-container {
    border: 2px solid blue;
    height: 30vh;
}

.text-container p {
    position: relative;
    bottom: 0;
}

.form {
    border: 1px solid yellow;
    height: 70vh;
}

.main-form {
    height: 40vh;
    border: 1px solid orange;
}

.form-footer{
    height: 30vh;
    border: 1px solid black;
}

